<table id="detailTable" align="center">
  <tr>
    <td>
      <b>FirstName: </b>
    </td>
    <td>{{data1.firstName}}</td>
  </tr>
  <tr>
    <td>
      <b>LastName: </b>
    </td>
    <td>{{data1.lastName}}</td>
  </tr>
  <tr>
    <td>
      <b>Email: </b>
    </td>
    <td>{{data1.email}}</td>
  </tr>
  <tr>
    <td>
      <b>ContactNo:</b>
    </td>
    <td>{{data1.contactno}}</td>
  </tr>
  <tr>
    <td>
      <b>Password: </b>
    </td>
    <td>
      <input type={{eye}} disabled value={{data1.pass}}/>
      <span (click)="eyefunction()" class="glyphicon glyphicon-eye-open"></span>
    </td>
  </tr>
  <tr>
    <td>
      <b>ConfirmPassword: </b>
    </td>
    <td><input type={{eye}} disabled value={{data1.confirmpassword}}/>
        <span (click)="eyefunction()"></span>
    </td>
  </tr> 
  <tr>
    <td>
      <b>Gender: </b>
    </td>
    <td>{{data1.gender}}</td>
  </tr>
  <tr>
    <td>
      <b>EmpId: </b>
    </td>
    <td>{{data1.EmpId}}</td>
  </tr>
</table>
<br>
<br>
<div class="editbtn">
  <button (click)='onButtonClick1()' type="submit">EditDetail</button>
</div>
