<p>
  showdetail works!
</p>
<table id="detailTable">
  <tr>
    <th>FirstName: </th>
    <th>LastName: </th>
    <th>Email: </th>
    <th>ContactNo:</th>
    <th>Password:</th>
    <th>ConfirmPassword:</th>
    <th>Gender:</th>
    <th>EmpId:</th>
  </tr>
  <tr>
    <th>{{data1.firstName}}</th>
    <th>{{data1.lastName}}</th>
    <th>{{data1.email}}</th>
    <th>{{data1.contactno}}</th>
    <th>{{data1.pass}}</th>
    <th>{{data1.confirmpassword}}</th>
    <th>{{data1.gender}}</th>
    <th>{{data1.EmpId}}</th>
    
  </tr>
</table>
<br>
<br>

<button (click)='onButtonClick1()' type="submit">Submit</button>

